/* {
border: 1px white solid; 
} */

#container {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 500px;
  border: 1px blue solid;
}

.moused {
  background-color: rgb(110, 105, 5);
}